body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ball {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: pink;
  animation: bounce 2s infinite;
}

.ball:{
  background-color: purple;
  animation-delay: 0.2s;
}

.ball:{
  background-color: blue;
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
}
